---
import Icon from "../components/ui/icon.astro";
---

<footer class="flex gap-3 justify-center mt-12 text-center text-gray-600">
  <p>With ❤️ by Marc Orfila</p>
  <p>-</p>
  <Icon href="https://github.com/MarcOrfilaCarreras/resume" text="View source code" type="github"/>
</footer>
