<footer
  class="print:hidden flex gap-3 justify-center mt-12 text-center text-gray-600"
>
  <a
    href="https://github.com/MarcOrfilaCarreras"
    target="_blank"
    class="text-gray-600 hover:text-gray-900 flex gap-3"
    >With ❤️ by Marc Orfila</a
  >
  <p>-</p>
  <a
    href="https://github.com/MarcOrfilaCarreras/resume"
    target="_blank"
    class="text-gray-600 hover:text-gray-900 flex gap-3">View source code</a
  >
</footer>
